@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ai venit pe meseriasul</h1>
    <p>Poti sa ne urmaresti si pe instagram ca sa fii la curent cu toate noutatile si ofertele noastre <a href="https://www.instagram.com/wazz.art/">wazz.art</a>.</p>
</div>
